.todo{
    width: 90vw;
    position: relative;
    left : 50%;
    transform: translate(-50%);
}

.todo form{
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.todo input{
    margin-top: 50px;
    
    font-size: 20px;
    width: 280px;
    padding: 5px 20px;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.18);
}

.btn{
    font-size: 25px;
    width: auto;
    padding: 10px;
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: black;
    transform: translate(-40px,40px);
    border: 3px rgb(255, 255, 255) solid;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.311);
}


.btn:active {
    transform: rotate(360deg) , translate(150px);
    border: none;
}

.para{
    position: absolute;
    left: 50%;
    transform: translate(0%, -40%);
}

.todoCardCon{
    margin: 50px 20px;
    display: flex;
    gap: 20px;
}