.main {
    background: #f1f5f8;
    background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
    background-size: 25px 25px;
    min-height: 100vh;
}

.todoCardCon {

    width: 90vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-around;
}